html {
	height: 100%;
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 1.6rem;
	font-family: "Titillium Web", sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sub-header {
	font-family: "Amaranth", sans-serif;
	font-weight: bolder;
	font-size: x-large;
}

header {
	background-image: url("images/bground.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
}

header h1 {
	font-size: 5rem;
}

header h3 {
	font-size: 3rem;
}

.header__body {
	height: 100%;
	background: rgba(49, 0, 29, 0.4);
	color: white;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header__text {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header__text img {
	height: 8rem;
}

._pull-nav {
	position: fixed;
	margin-top: 2rem;
	right: 1rem;
	z-index: 3;
}

.nav__inside {
	position: fixed;
	top: 0;
	left: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	background: #454364;
	width: 10rem;
	transition: 0.3s ease;
	z-index: 1;
}

._inside_content img {
	height: 3rem;
	margin-top: 2rem;
}

._inside_content {
	font-size: 1.5rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section {
	padding: 1rem;
}

.sect-header,
.clients {
	text-align: center;
}

.sub-header {
	font-weight: unset;
	font-size: 1.8rem;
}

.about {
	background: #eeeeee;
}

.about > div {
	margin-bottom: 2rem;
}

.intro {
	border: 1px solid gainsboro;
	border-radius: 0.5rem;
	padding: 1rem;
	text-align: center;
}

.intro img {
	height: 5rem;
}

.service-nav {
	overflow-x: auto;
	box-shadow: 1px 2px 4px 0px black;
	margin-bottom: 3rem;
}

._container {
	display: grid;
	width: 125%;
	grid-template-columns: auto auto auto auto auto auto;
	height: 10rem;
	text-align: center;
	color: #00aff0;
	background-color: #f5f5f5;
	justify-content: space-between;
	overflow-y: hidden;
}

._container_tab {
	width: 6rem;
	font-size: 1.2rem;
	cursor: pointer;
}

._container_tab img {
	height: 3rem;
	margin-top: 1rem;
}

.active {
	display: block;
	opacity: 0;
}

.story-animate {
	opacity: 1;
}

.clients__story {
	padding: 1rem;
	border-radius: 0.5rem;
	transition: all ease 1s;
}

.client__logo img {
	height: 20rem;
	width: 100%;
}

.process {
	display: flex;
	flex-direction: column;
}

#steps {
	text-align: center;
	margin-top: 0rem;
	font-size: 1.8rem;
	font-weight: 600;
}

.actual-process {
	padding-left: 1rem;
	padding-right: 1rem;
}
.actual-process img {
	height: 5rem;
	margin-right: 1.5rem;
}
.odd,
.even {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.members {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.member {
	text-align: center;
	padding: 1rem;
	height: 27rem;
	width: 23rem;
	margin-bottom: 2rem;
	border: 1px solid gainsboro;
	transition: all ease 0.5s;
}

.member:hover {
	box-shadow: 7px 6px 20px 0px rgba(0, 0, 0, 0.3);
}

.member a {
	text-decoration: none;
}

.member img {
	height: 13rem;
	width: 13rem;
	border-radius: 100%;
}

.member-info div {
	display: flex;
	justify-content: space-evenly;
	font-size: 2rem;
}

.contact {
	text-align: center;
	background-color: #00aff0;
	color: white;
	margin-bottom: 2rem;
}

.contact img {
	display: none;
}

.map {
	background: gainsboro;
}

#map iframe {
	height: 50% !important;
	width: 100% !important;
}

footer {
	background: #bcbcbc;
	padding: 1rem;
}

footer a {
	text-decoration: underline;
	color: inherit;
}
footer a:hover {
	color: #00aff0;
}

footer img {
	height: 10rem;
}

.side-a,
.side-b {
	text-align: center;
}
.side-b p {
	margin-bottom: 2rem;
	white-space: pre-line;
}

.sm-media {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sm-media {
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1rem;
}

.address {
	text-align: center;
}

@media screen and (min-device-width: 400px) {
	section {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (min-device-width: 600px) {
	section {
		padding-left: 5rem;
		padding-right: 5rem;
		padding-bottom: 5rem;
	}
	.header__body {
		padding-left: 5rem;
		padding-right: 5rem;
		display: grid;
		grid-template-rows: 70% auto;
	}
	._pull-nav {
		display: none;
	}
	.nav-cont {
		position: relative;
		transition: all ease 1s;
	}
	.fixed-nav {
		position: fixed;
		left: 0%;
		top: 0%;
		width: 100%;
		z-index: 5;
		box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
	}
	.navbar-animate {
		transform: translateY(-12rem);
	}
	.nav-icon {
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: 2rem;
		cursor: pointer;
		transition: all ease-in 0.55s;
	}
	.nav-icon:hover {
		background-color: #00aff0;
	}
	.nav__inside {
		grid-template-columns: auto auto auto auto auto;
		background: unset;
		width: 100%;
		justify-content: initial;
		z-index: 2;
		height: unset;
		position: initial;
	}
	._inside_content {
		height: unset;
	}
	._inside_content img {
		height: 4rem;
		margin-top: 0;
	}
	.about {
		display: grid;
		grid-template-rows: auto auto;
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.about > div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
	.clients {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.clients__story {
		background: unset;
		color: initial;
		box-shadow: unset;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		align-content: center;
		min-height: 25rem;
		grid-gap: 2rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.project__details {
		text-align: left;
	}
	.active {
		display: grid;
	}
	.services {
		padding: 0;
	}
	.service-nav {
		overflow: unset;
		margin-bottom: unset;
		box-shadow: unset;
		border-bottom: 1px solid gainsboro;
	}
	._container {
		width: 100%;
		align-content: center;
		align-items: baseline;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		background-color: unset;
	}
	._container_tab {
		width: unset;
		font-size: 1.3rem;
	}
	.client__logo img {
		height: unset;
		max-height: 20rem;
		box-shadow: 9px 6px 12px 1px rgba(0, 0, 0, 0.2);
	}
	.process {
		display: grid;
		grid-template-rows: auto auto;
		grid-row-gap: 1rem;
	}
	.actual-process {
		position: relative;
		min-height: 110vh;
		padding: unset;
	}
	.actual-process img {
		margin-right: unset;
		height: 10rem;
	}
	.odd,
	.even {
		text-align: center;
		display: unset;
		position: absolute;
		bottom: 0%;
		width: 20rem;
	}
	.odd-1 {
		left: 2rem;
		top: 0%;
	}
	.odd-2 {
		left: 2rem;
	}
	.odd-3 {
		top: 20rem;
		right: 10rem;
	}
	.even-1 {
		top: 20rem;
		left: 10rem;
	}
	.even-2 {
		right: 2rem;
	}
	.even-3 {
		top: 0;
		right: 3%;
	}
	.members {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 2rem;
	}
	.member {
		width: 18rem;
		margin-bottom: 0;
	}
	.contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: baseline;
		justify-items: center;
		padding-top: 5rem;
	}
	.contact h3 {
		font-size: 4rem;
		margin-bottom: 0;
	}
	.map {
		padding: 0;
		margin-bottom: 2rem;
	}
	footer {
		background: #4e4c5a;
		color: #eeeeee;
		padding-top: 3rem;
		padding-bottom: 3rem;
		padding-left: 15rem;
		padding-right: 15rem;
		min-height: 30vh;
	}
	.side-a {
		margin-bottom: 2rem;
	}
	.side-b {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.links {
		flex-direction: row;
		justify-content: space-around;
		font-weight: bold;
	}
	.sm-media {
		margin-top: 0.5rem;
		padding-left: 7rem;
		padding-right: 7rem;
	}
}

@media screen and (min-device-width: 900px) {
	section,
	.clients,
	.header__body {
		padding-left: 10rem;
		padding-right: 10rem;
	}
	.service-nav {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.about {
		grid-gap: 3rem;
		min-height: 70vh;
		padding-left: 5rem;
		padding-left: 5rem;
	}
	.about > div {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.services {
		min-height: 65vh;
	}
	.actual-process {
		min-height: 85vh;
	}
	.even-1 {
		left: 15rem;
	}
	.odd-3 {
		right: 15rem;
		top: 19.5rem;
	}
	.member {
		width: 24rem;
	}
	footer {
		padding-left: 20rem;
		padding-right: 20rem;
	}
}

@media screen and (min-device-width: 1280px) {
	section,
	.about,
	.header__body {
		padding-left: 15rem;
		padding-right: 15rem;
	}
	.clients {
		padding-left: 20rem;
		padding-right: 20rem;
	}
	.members,
	.service-nav,
	nav {
		padding-left: 10rem;
		padding-right: 10rem;
	}
	.actual-process {
		min-height: 100vh;
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.even-1 {
		left: 25rem;
	}
	.odd-3 {
		right: 25rem;
	}
	footer {
		padding-left: 30rem;
		padding-right: 30rem;
	}
}

.inactive {
	display: none;
}
